h3 {
  color: #00426D;
}



.countshade {
  color: blue;
  font-size: large;
  font-weight: 600;
}

.uppertoucharea {
 display: block;
 height: 140px;
}

.saying {
  color:green;
  font-size:large;
  font-weight:600;
}

